    <!-- bg-pastelred bg-pastelredhighlight bg-pastelorange bg-pastelorangehighlight bg-pastelyellow bg-pastelyellowhighlight bg-pastelgreen bg-pastelgreenhighlight bg-pastelblue bg-pastelbluehighlight bg-pastelindigo bg-pastelindigohighlight bg-pastelpurple bg-pastelpurplehighlight bg-pastelpink bg-pastelpinkhighlight bg-tmrorange bg-tmrpastel -->


<div class="flex w-full bg-white border-t-2 border-b-2 border-r-2 border-black">
    <div class="flex flex-col h-24 w-24 bg-tmrorange align-middle justify-center text-center border-black border-l-2 border-r-2">
      <p class="font-bold">EVERY</p>
      <p class="font-bold text-4xl">-</p>
      <p class="font-bold">SATURDAY</p>
    </div>

    <div class="flex flex-col justify-center w-full pl-4">
        <p class="font-bold">FabLab</p>
        <h2 class="m-0">Public Open Day</h2>
    </div>
</div>